{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
        <section id="team" class="mb-4">
            <h2>Team</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('images/FotoIan.jpg') }}" class="card-img-top" alt="Team Member">
                        <div class="card-body">
                            <h5 class="card-title">Ian Notermans</h5>
                            <p class="card-text">Frontend Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('images/team-member.jpg') }}" class="card-img-top" alt="Team Member">
                        <div class="card-body">
                            <h5 class="card-title">John Doe</h5>
                            <p class="card-text">Frontend Developer</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
