{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
        <h1>Welcome to our Book Loan Application</h1>
        <p>This application is developed by Team XYZ. It is designed to track book loans.</p>
        <img src="{{ asset('images/team.jpg') }}" alt="Team Photo">
    </div>
{% endblock %}
